* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  color: white;
  background-color: #020300;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  width: fit-content;
  color: #b32b5a;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
  border-radius: 20px;
  padding: 10px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freecc-logo {
  width: 400px;
  height: 50px;
}

.tareas-lista-principal {
width: 600px;
min-height: 500px;
background-color: #FDFFF7;
padding: 25px;
margin: 10px;
border-radius: 20px;
display: flex;
align-items: center;
flex-direction: column;
}